@model OptionTracker.Models.Anal.VolumeAnal

@{
    ViewData["Title"] = "Details";
}

<h2> @Html.DisplayFor(model => model.Symbol)</h2>

<div>
    <h4>Last 30 Days Option Volume</h4>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <div id="chart" class=""></div>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        $(document).ready(function () {
            GetData();
        });
        function GetData() {
            $.ajax({
                url: '/VolumeAnals/GetChartData/@Model.Symbol',
                cache: false,
                type: "POST",
                success: function (data) {
                    //console.log(data);
                    if (data.success) {
                        if (data.series.length > 0) {
                            LoadChart(data.series, data.labels);
                        } else {
                        }
                    } else {
                        alert(data.message);
                    }
                },
                error: function (reponse) {
                    console.log(reponse);
                    alert("error : " + reponse);
                }
            });
        }
        function LoadChart(series, labels) {
            var options = {
                series: [
                    {
                        name: 'Volume',
                        data: series
                    }
                ],
                chart: {
                    height: 350,
                    type: 'bar',
                },
                plotOptions: {
                    bar: {
                        borderRadius: 5,
                        dataLabels: {
                            position: 'top', // top, center, bottom
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val;
                    },
                    offsetY: -20,
                    style: {
                        fontSize: '12px',
                        colors: ["#304758"]
                    }
                },

                xaxis: {
                    categories: labels,
                    position: 'top',
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    crosshairs: {
                        fill: {
                            type: 'gradient',
                            gradient: {
                                colorFrom: '#D8E3F0',
                                colorTo: '#BED1E6',
                                stops: [0, 100],
                                opacityFrom: 0.4,
                                opacityTo: 0.5,
                            }
                        }
                    },
                    tooltip: {
                        enabled: true,
                    }
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false,
                    },
                    labels: {
                        show: false,
                        formatter: function (val) {
                            return val + "%";
                        }
                    }

                },
                title: {
                    text: 'Daily Option Volume',
                    floating: true,
                    offsetY: 330,
                    align: 'center',
                    style: {
                        color: '#444'
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        }
    </script>
}

