@model OptionTracker.Models.Anal.VolumeAnal

@{
    ViewData["Title"] = "Details";
}

<h2> @Html.DisplayFor(model => model.Symbol)</h2>

<div>
    <a asp-controller="Traders" asp-action="Details">Back to List</a>
</div>
<div>
    <h4>Last 30 Days Call Option Volume</h4>
    <div id="chartCall" class=""></div>
    <h4>Last 30 Days Put Option Volume</h4>
    <div id="chartPut" class=""></div>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        $(document).ready(function () {
            GetDataCall();
            GetDataPut();
        });
        function GetDataCall() {
            $.ajax({
                url: '/VolumeAnals/GetChartDataCall/@Model.Symbol',
                cache: false,
                type: "POST",
                success: function (data) {
                    //console.log(data);
                    if (data.success) {
                        if (data.series.length > 0) {
                            LoadChartCall(data.series, data.labels);
                        } else {
                        }
                    } else {
                        alert(data.message);
                    }
                },
                error: function (reponse) {
                    console.log(reponse);
                    alert("error : " + reponse);
                }
            });
        }
        function LoadChartCall(seriesCall, labelsCall) {
            var options = {
                series: [
                    {
                        name: 'Volume',
                        data: seriesCall
                    }
                ],
                chart: {
                    height: 350,
                    type: 'bar',
                },
                plotOptions: {
                    bar: {
                        borderRadius: 5,
                        dataLabels: {
                            position: 'top', // top, center, bottom
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val;
                    },
                    offsetY: -20,
                    style: {
                        fontSize: '12px',
                        colors: ["#304758"]
                    }
                },

                xaxis: {
                    categories: labelsCall,
                    position: 'top',
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    crosshairs: {
                        fill: {
                            type: 'gradient',
                            gradient: {
                                colorFrom: '#D8E3F0',
                                colorTo: '#BED1E6',
                                stops: [0, 100],
                                opacityFrom: 0.4,
                                opacityTo: 0.5,
                            }
                        }
                    },
                    tooltip: {
                        enabled: true,
                    }
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false,
                    },
                    labels: {
                        show: false,
                        formatter: function (val) {
                            return val + "%";
                        }
                    }

                },
                title: {
                    text: 'Daily Option Volume',
                    floating: true,
                    offsetY: 330,
                    align: 'center',
                    style: {
                        color: '#444'
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#chartCall"), options);
            chart.render();
        }

        function GetDataPut() {
            $.ajax({
                url: '/VolumeAnals/GetChartDataPut/@Model.Symbol',
                cache: false,
                type: "POST",
                success: function (data) {
                    //console.log(data);
                    if (data.success) {
                        if (data.series.length > 0) {
                            LoadChartPut(data.series, data.labels);
                        } else {
                        }
                    } else {
                        alert(data.message);
                    }
                },
                error: function (reponse) {
                    console.log(reponse);
                    alert("error : " + reponse);
                }
            });
        }
        function LoadChartPut(seriesPut, labelsPut) {
            var options = {
                series: [
                    {
                        name: 'Volume',
                        data: seriesPut
                    }
                ],
                chart: {
                    height: 350,
                    type: 'bar',
                },
                plotOptions: {
                    bar: {
                        borderRadius: 5,
                        dataLabels: {
                            position: 'top', // top, center, bottom
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val;
                    },
                    offsetY: -20,
                    style: {
                        fontSize: '12px',
                        colors: ["#304758"]
                    }
                },

                xaxis: {
                    categories: labelsPut,
                    position: 'top',
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    crosshairs: {
                        fill: {
                            type: 'gradient',
                            gradient: {
                                colorFrom: '#D8E3F0',
                                colorTo: '#BED1E6',
                                stops: [0, 100],
                                opacityFrom: 0.4,
                                opacityTo: 0.5,
                            }
                        }
                    },
                    tooltip: {
                        enabled: true,
                    }
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false,
                    },
                    labels: {
                        show: false,
                        formatter: function (val) {
                            return val + "%";
                        }
                    }

                },
                title: {
                    text: 'Daily Option Volume',
                    floating: true,
                    offsetY: 330,
                    align: 'center',
                    style: {
                        color: '#444'
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#chartPut"), options);
            chart.render();
        }
    </script>
}

