@model Org.OpenAPITools.Models.PortfolioEth

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PortfolioEth</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaintenanceMargin" class="control-label"></label>
                <input asp-for="MaintenanceMargin" class="form-control" />
                <span asp-validation-for="MaintenanceMargin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableWithdrawalFunds" class="control-label"></label>
                <input asp-for="AvailableWithdrawalFunds" class="form-control" />
                <span asp-validation-for="AvailableWithdrawalFunds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialMargin" class="control-label"></label>
                <input asp-for="InitialMargin" class="form-control" />
                <span asp-validation-for="InitialMargin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableFunds" class="control-label"></label>
                <input asp-for="AvailableFunds" class="form-control" />
                <span asp-validation-for="AvailableFunds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_session_upl" class="control-label"></label>
                <input asp-for="options_session_upl" class="form-control" />
                <span asp-validation-for="options_session_upl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_gamma" class="control-label"></label>
                <input asp-for="options_gamma" class="form-control" />
                <span asp-validation-for="options_gamma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_theta" class="control-label"></label>
                <input asp-for="options_theta" class="form-control" />
                <span asp-validation-for="options_theta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="delta_total" class="control-label"></label>
                <input asp-for="delta_total" class="form-control" />
                <span asp-validation-for="delta_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="futures_session_rpl" class="control-label"></label>
                <input asp-for="futures_session_rpl" class="form-control" />
                <span asp-validation-for="futures_session_rpl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_pl" class="control-label"></label>
                <input asp-for="total_pl" class="form-control" />
                <span asp-validation-for="total_pl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_session_rpl" class="control-label"></label>
                <input asp-for="options_session_rpl" class="form-control" />
                <span asp-validation-for="options_session_rpl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_delta" class="control-label"></label>
                <input asp-for="options_delta" class="form-control" />
                <span asp-validation-for="options_delta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="futures_pl" class="control-label"></label>
                <input asp-for="futures_pl" class="form-control" />
                <span asp-validation-for="futures_pl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="session_upl" class="control-label"></label>
                <input asp-for="session_upl" class="form-control" />
                <span asp-validation-for="session_upl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creation_timestamp" class="control-label"></label>
                <input asp-for="creation_timestamp" class="form-control" />
                <span asp-validation-for="creation_timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_pl" class="control-label"></label>
                <input asp-for="options_pl" class="form-control" />
                <span asp-validation-for="options_pl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projected_initial_margin" class="control-label"></label>
                <input asp-for="projected_initial_margin" class="form-control" />
                <span asp-validation-for="projected_initial_margin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projected_maintenance_margin" class="control-label"></label>
                <input asp-for="projected_maintenance_margin" class="form-control" />
                <span asp-validation-for="projected_maintenance_margin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="session_rpl" class="control-label"></label>
                <input asp-for="session_rpl" class="form-control" />
                <span asp-validation-for="session_rpl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_vega" class="control-label"></label>
                <input asp-for="options_vega" class="form-control" />
                <span asp-validation-for="options_vega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projected_delta_total" class="control-label"></label>
                <input asp-for="projected_delta_total" class="form-control" />
                <span asp-validation-for="projected_delta_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="futures_session_upl" class="control-label"></label>
                <input asp-for="futures_session_upl" class="form-control" />
                <span asp-validation-for="futures_session_upl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="options_value" class="control-label"></label>
                <input asp-for="options_value" class="form-control" />
                <span asp-validation-for="options_value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarginBalance" class="control-label"></label>
                <input asp-for="MarginBalance" class="form-control" />
                <span asp-validation-for="MarginBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equity" class="control-label"></label>
                <input asp-for="Equity" class="form-control" />
                <span asp-validation-for="Equity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquityUsd" class="control-label"></label>
                <input asp-for="EquityUsd" class="form-control" />
                <span asp-validation-for="EquityUsd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
