@model OptionTracker.Models.Crypto.BookDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestTime" class="control-label"></label>
                <input asp-for="RequestTime" class="form-control" />
                <span asp-validation-for="RequestTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnderlyingPrice" class="control-label"></label>
                <input asp-for="UnderlyingPrice" class="form-control" />
                <span asp-validation-for="UnderlyingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnderlyingIndex" class="control-label"></label>
                <input asp-for="UnderlyingIndex" class="form-control" />
                <span asp-validation-for="UnderlyingIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettlementPrice" class="control-label"></label>
                <input asp-for="SettlementPrice" class="form-control" />
                <span asp-validation-for="SettlementPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenInterest" class="control-label"></label>
                <input asp-for="OpenInterest" class="form-control" />
                <span asp-validation-for="OpenInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPrice" class="control-label"></label>
                <input asp-for="MinPrice" class="form-control" />
                <span asp-validation-for="MinPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice" class="control-label"></label>
                <input asp-for="MaxPrice" class="form-control" />
                <span asp-validation-for="MaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkPrice" class="control-label"></label>
                <input asp-for="MarkPrice" class="form-control" />
                <span asp-validation-for="MarkPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkIv" class="control-label"></label>
                <input asp-for="MarkIv" class="form-control" />
                <span asp-validation-for="MarkIv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastPrice" class="control-label"></label>
                <input asp-for="LastPrice" class="form-control" />
                <span asp-validation-for="LastPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentName" class="control-label"></label>
                <input asp-for="InstrumentName" class="form-control" />
                <span asp-validation-for="InstrumentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndexPrice" class="control-label"></label>
                <input asp-for="IndexPrice" class="form-control" />
                <span asp-validation-for="IndexPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDeliveryPrice" class="control-label"></label>
                <input asp-for="EstimatedDeliveryPrice" class="form-control" />
                <span asp-validation-for="EstimatedDeliveryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidIv" class="control-label"></label>
                <input asp-for="BidIv" class="form-control" />
                <span asp-validation-for="BidIv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestBidPrice" class="control-label"></label>
                <input asp-for="BestBidPrice" class="form-control" />
                <span asp-validation-for="BestBidPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestBidAmount" class="control-label"></label>
                <input asp-for="BestBidAmount" class="form-control" />
                <span asp-validation-for="BestBidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestAskPrice" class="control-label"></label>
                <input asp-for="BestAskPrice" class="form-control" />
                <span asp-validation-for="BestAskPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestAskAmount" class="control-label"></label>
                <input asp-for="BestAskAmount" class="form-control" />
                <span asp-validation-for="BestAskAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AskIv" class="control-label"></label>
                <input asp-for="AskIv" class="form-control" />
                <span asp-validation-for="AskIv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
