@model List<OptionContract>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChainRaw</h4>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Symbol)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Symbol">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
