@model OptionTracker.Models.OptionResultViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OptionResultViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenInterest" class="control-label"></label>
                <input asp-for="OpenInterest" class="form-control" />
                <span asp-validation-for="OpenInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenInterestChange" class="control-label"></label>
                <input asp-for="OpenInterestChange" class="form-control" />
                <span asp-validation-for="OpenInterestChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosePriceChange" class="control-label"></label>
                <input asp-for="ClosePriceChange" class="form-control" />
                <span asp-validation-for="ClosePriceChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosePrice" class="control-label"></label>
                <input asp-for="ClosePrice" class="form-control" />
                <span asp-validation-for="ClosePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volatility" class="control-label"></label>
                <input asp-for="Volatility" class="form-control" />
                <span asp-validation-for="Volatility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolatilityChange" class="control-label"></label>
                <input asp-for="VolatilityChange" class="form-control" />
                <span asp-validation-for="VolatilityChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
